[package]
name = "syarm_lib"
version = "0.4.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "syarm_lib"
path = "src/lib.rs"

[[bin]]
name = "test_arm"
path = "bin/test_arm.rs"

[[bin]]
name = "test_deg"
path = "bin/test_deg.rs"

[[bin]]
name = "test_ex_move"
path = "bin/test_ex_move.rs"

[[bin]]
name = "test_int"
path = "bin/test_int.rs"

[[bin]]
name = "test_meas"
path = "bin/test_meas.rs"

[dependencies]
gcode = "0.6.1"
glam = "0.21.3"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.48"
stepper_lib = { git = "https://github.com/SamuelNoesslboeck/stepper_lib" }